
span {
    color: rgb(134, 133, 133);
    font-size: 24px;
    font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
}
header {
    border-bottom-style: solid;
    border-color: rgb(198, 198, 198);
    border-radius: 1px;

}
section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
section h2 {
    color:rgb(95, 95, 95);
    display: flex;
    flex-direction: row;
    padding-top: 12px;
   padding-right: 12px;
   font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
}
section p {
    color: rgb(95, 95, 95);
    line-height: 24px;
    display: flex;
    flex-direction:column;
    font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
}
