* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Josefin Sans", sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1150px;

    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
 }

 header {
    padding-top: 32px;
    padding-bottom: 32px; 
}