
span {
    color: rgb(134, 133, 133);
    font-size: 24px;
    font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
    
}
 
  

header {
    border-bottom-style: solid;
    border-color: rgb(198, 198, 198);
    border-radius: 1px;

}
img {
    width: 18px;
}

#navList {
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: end;
    gap: 12px;

}
 h1 {
    padding-top: 12px;
    text-align: center;
    font-family:  "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 72px;
    color: rgb(167, 165, 165);

}
#talk h1 {
    text-align: center;
    padding-top: 86px;
   
}


section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.container #nav {
    padding-top: 24px;

}
.container #meetList {
    padding-top: 220px;
}
#meetList {
    display: flex;
    flex-direction: column;
    
   
    gap: 1rem;
}

#meet {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
}
#meet ul li {
    list-style: none;   
}
#meet h2 {
    text-align: center;
    padding-bottom: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

#meet p {
    padding-bottom: 24px;
}
#cyan {
    color: cyan;
    font-size: 20px;
    font-style: italic;
}
#button {
    padding-left: 12px;
    padding-right: 12px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    
}
#send {
    color: rgb(114, 113, 113);
    
    
    
}
#button a {
    text-decoration: none;
    
}




@media only screen and (min-width: 576px){

    #meetList {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    
}
@media only screen and (min-width: 768px){
    #meetList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 992px){

}
@media only screen and (min-width: 1200px){

}
    
    




 