
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#name {
    color: rgb(134, 133, 133);
    font-size: 8px;
    font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
}
#menuButton {
    background-color: transparent;
    border: none;
    color: rgb(112, 110, 110);

}
nav {
    display: none;
}

section {
    display: flex;
    flex-direction: row;
   
}
section img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: dotted;
    border-color: rgb(35, 174, 174);
    
}
#name h1 {
    color: rgb(112, 110, 110);
    font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
   
    
}
#details p {
    color:rgb(112, 110, 110);
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 28px;
    font-family: "Victor Mono", monospace;
     font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

img {
    width: 18px;
}

#navList2 {
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
    gap: 12px;}



@media only screen and (min-width: 576px){
   
}
@media only screen and (min-width: 768px){
    #menuButton {
        display: none;
    }
    nav {
        display: block;
    }
    #navList {
        display: flex;
        flex-direction: row;
        gap: 24px;
        list-style: none;
        font-family: "Victor Mono", monospace;
    }
    #navList a {
        text-decoration: none;
        color: rgb(75, 75, 75);
       
    }
    #navList a:hover {
       background-color: rgb(94, 101, 93);
       color: white;
    }

}


@media only screen and (min-width: 992px){
    #main {
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }
    
}
@media only screen and (min-width: 1200px){}

